projects/06/assembler/bin/
projects/06/assembler/include/
projects/06/assembler/lib/
projects/06/assembler/.idea/
projects/06/assembler/pyvenv.cfg
projects/07/VMTranslator/bin/
projects/07/VMTranslator/include/
projects/07/VMTranslator/lib/
projects/07/VMTranslator/.idea/
projects/07/VMTranslator/pyvenv.cfg
